*{
 margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    font-family:Arial, Helvetica, sans-serif;      
}
.link{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
/* .main-header{
    background: url(img/hero-img.jpeg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width:100%;
    position:relative;

} */

.hero-content{
    position: absolute;
    top: 50%;
    left:30px;
    transform:translateY(-50%);
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
}
.nav-list{
    list-style-type: none ;
    display: flex;
}
.logo{
    font-weight: bolder;
    color:#febc1d;
    font-size: 35px;
}
.nav-link{
    font-size: 18px;
    color:black;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color.3s;
    padding-right:.5rem ;
    padding-left: .5rem;
    font-size: 18px;
    color:black;
}
.nav-link:hover{
    color: #ccc;
}
.nav-items{
    margin-left: 50px;
}
.main-heading{
    font-weight: normal;
    color:#fff;
    font-size: 45px;
}
.main-heading-focus{
    color:#febc1d;
    font-weight: bold;
}
.sub-heading{
    text-align: right;
    color: #fff;
    margin-top:30px;
    font-size: 18px;
}
.hero-cta{
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    background: #febc1d;
    display: inline-block;
    margin-top: 30px;
}
.main-container{
    margin-top:30px;
    }
    .main-card-title{
        text-align:center;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight:bold;
        color: #333;
}
.card-content{
    width:1200;
    height:500px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}
.card-img-container{
    background:blueviolet;
    position: relative;
overflow: hidden;
}
.card-img{
    height: 90%;
    transition: 0.5s ease-out;
}
.card-title{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.card-span{
    font-weight: normal;
    display: block;
}
.card-info{
    position: absolute;
    top:-100%;
    left:0;
    display:flex;
    transition: 0.5s ease-out;
}
.card-info-list{
    margin: auto;
}
.card-info-item{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.card-img-container:hover> .card-info{
    top:0;
}
.card-img-container:hover>.card-img{
    transform: scale(1.5);
}
.card{
    display:flex;
    flex-direction: column;
}
.banner-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px -1px 15px 3px rgba(0,0,0,0.75);
}

.banner-desc{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    
}
.banner-cta{
    display: inline-block;
    background:#333;
    padding: 20px 30px;
    font-size: 20px;
    color:white;
    transition:.3s;

}
.banner-cta:hover{
    background: #575656;
}
.contact-container{
    height: 540px;
    background: url(img/contact.jpg);
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:black;
    font-weight:bold;
    margin: auto;
}
td{
    vertical-align: top;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}
.contact-input-container{
    width: 90%;
    text-align: center;
}
.input,msg-input{
    width: 60%;
    margin-bottom: 10px;
    background:greenyellow
}
    .input{
        height: 40px;
        border: none ;
        color: white;
        font-size: 16px;
}
    .input:focus,textarea:focus {
        outline:none;
        background:greenyellow;
    }
    textarea{
        border: none;
        color: white;
        font-size: 16px;
        padding: 10px;
    }
    input[type="email"],
    input[type="text"]{
        padding-left: 10px;
    }
    input[type="submit"]{
        cursor:pointer;
    }
    input[type="submit"]:hover{
        background:#e68066dc;
    }
    .footer{
        background :#1e1e1e;
margin-top: 30px;
}
    .news-letter{
        text-align: center;
        padding:20px;
        }
    .news-letter-title{
        font-size:20px;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    #news-letter-email{
        width: 350px;
        height: 40px;
        border: none;
        font-size: 16px;
        color: white;
        background: #60615f80;

            }
    #news-letter-submit{
        width: 150px;
        height: 40px;
        border: none;
        background:rgba(96,97,95,0.5); 
        font-size: 16px;
        color: #ccc;
        
         }
         #news-letter-email:focus{
            outline: none;
            background: rgba(96,97,95,0.8);
            text-align: center;
            position: absolute;
            display: flex;
            }   

            .footer-border{
                height: 3px;
                background: white;
                width: 80%;
                margin:0 auto;
            }
            .footer-content-container{
                width: 80%;
                margin: 0 auto;
                margin-top: 30px;
            display: flex;
            justify-content: space-between;
            }
            .footer-content{
                flex-basis:30%;
                color:white;
            }
            .footer-logo,.footer-title
{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color:#febc1d;
    display: inline-block;
    margin-bottom: 10px;
}

.footer-title{
    color:white;
}
.footer-content-info td{
    padding-left: 0;
}
.footer-nav-container{
    flex-basis: 30%;
    }
    .footer-nav-list{
        list-style-type: none;
        color: white;
    }
.footer-nav-item{
    /* margin-bottom: 20px;
    font-size: 18px;
   display: flex; */
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
    
    }

